.history-page {
  overflow-x: auto;
}

.history-page .section-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.history-page .section-header .blockchain-btn {
  font-size: 15px;
  font-weight: 500;
  background: #de2201;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  margin: 20px;
  width: 300px;
  box-shadow: 5px 5px 15px rgba(190, 186, 186, 0.6),
    5px 5px 10px rgba(190, 186, 186, 0.6);
  transition: 0.8s;
  text-transform: capitalize;
  text-align: center;
}

.history-page .section-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 38.5%;
}

.history-page .section-header .blockchain-btn:hover {
  box-shadow: 2px 2px 10px #ddd;
  transition: 0.8s;
}

.history-page h2,
h4 {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.history-page table {
  margin: 0 auto;
  width: 100%;
}
.history-page table,
th,
tr,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 25px;
  text-transform: capitalize;
}

table a {
  color: rgb(3, 165, 206);
}

.history-page img {
  width: 70px;
  height: 100px;
  object-fit: cover;
}
